*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  border: 2px red dotted;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.players {
  display: flex;
  justify-content: space-evenly;
}

.user,
.computer {
  font-size: 7rem;
}

.btn {
  font-size: 2rem;
  background: none;
  border: none;
  filter: grayscale(100);
  opacity: 60%;
  text-shadow:
    0 0 0px white, 
    -1px -1px 1px grey, 
    -1px 1px 1px grey, 
    1px 1px 1px grey, 
    1px -1px 1px grey;
  transition-duration: 400ms;
}

.btn:hover {
  transform: scale(1.4);
  transition-duration: 400ms;
  filter: none;
  opacity: 100%;
  text-shadow:
    0 0 0px white, 
    -1px -1px 2px gray, 
    -1px 1px 2px gray, 
    1px 1px 2px gray, 
    1px -1px 2px gray;
}

.btn-con {
  padding: .5rem;
}

.rows-con {
  font-size: 2rem;
  border: 2px green dotted;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: .5rem 0 .5rem 0;
}

/* .round-con {
  border: 2px green solid;
  margin-right: 10%;
  width: 3rem;
  text-align: center;
  font-size: 1.3rem;
} */

.user-col-con, .computer-col-con {
  border: 2px blue solid;
  display: flex;
  align-items: center;
}

.computer-row-one {
  border: 2px rgba(214, 52, 44, 0.688) solid;
}