*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  border: 2px red dotted;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  gap: 1rem;
}

.user,
.computer {
  font-size: 5rem;
  text-align: center;
}

.btn {
  font-size: 2rem;
  background: none;
  border: none;
  filter: grayscale(100);
  opacity: 60%;
  text-shadow:
    0 0 0px white, 
    -1px -1px 1px grey, 
    -1px 1px 1px grey, 
    1px 1px 1px grey, 
    1px -1px 1px grey;
  transition-duration: 400ms;
}

.btn:hover {
  transform: scale(1.4);
  transition-duration: 400ms;
  filter: none;
  opacity: 100%;
  text-shadow:
    0 0 0px white, 
    -1px -1px 2px gray, 
    -1px 1px 2px gray, 
    1px 1px 2px gray, 
    1px -1px 2px gray;
}

.btn-con {
  padding: .5rem;
}

/* .user-btn-con {
  border: 3px orange dotted;
  border-radius: 15px;
} */

.user-test {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.players-con {
  font-size: 2rem;
  border: 2px green dotted;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.test {
  display: flex;
  align-items: center;
}

.round-con {
  border: 2px green solid;
  padding-right: 2rem;
}

.test1 {
  display: flex;
}

/* .computer-con {
  border: 2px green dotted;
  display: flex;
  flex-direction: column;
} */