*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --accent-clr: #3882f6;
  --dark-clr: #1f2937;
  --mid-clr: #e5e7eb;
  --light-clr: #f9f1f8;
}

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.header, .hero, .main, .quote, .call-to-action, .footer {
  padding: 0 15%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  background-color: var(--dark-clr);
  color: var(--light-clr);
  padding-top: 15px;
}

ul, li {
  display: flex;
  font-size: 18px;
  text-decoration: none;
  margin: 0 0 0 20px;
}

.hero {
  background-color: var(--dark-clr);
  color: var(--light-clr);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.btn {
  background-color: var(--accent-clr);
  color: var(--mid-clr);
  font-weight: bold;
  padding: 5px 20px;
  border: none;
  border-radius: 7px;
}

.btn-inverse {
  border: 2px solid var(--light-clr);
  border-radius: 7px;
}

.hero-child {
  display: flex;
}

.con-1 {
  flex: 1;
}

.title {
  font-size: 48px;
  font-weight: bold;
  margin: 0;
}

p {
  font-size: 18px;
  margin: 0;
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  aspect-ratio: 16 / 9;
  flex: 1;
  background-color: grey;
}

.main {
  flex: 1;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h-one {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  font-size: 36px;
  font-weight: bolder;
  color: var(--dark-clr);
}

.boxes {
  display: flex;
  justify-content: center;
  gap: 5%;
}

.container {
  width: 20%;
}

.box {
  border: 3px solid var(--accent-clr);
  border-radius: 15px;
}

/* this gives height to boxes.
padding-top/bottom percentage is calculated by 
parent's width */
.box::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.quote {
  background-color: var(--mid-clr);
  color: var(--dark-clr);
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote .container {
  flex: 1;
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}

.quote .item2 {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
}

.call-to-action {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.bubble {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--accent-clr);
  border-radius: 15px;
  width: 100%;
  padding: 2.5em 6em;
  margin: 2em 0;
}

.call-con1 {
  display: flex;
  flex-direction: column;
}

.action-text {
  margin: 0;
}

.text-top {
  font-weight: bold;
  color: var(--light-clr)
}

.text-under {
  font-size: 12px;
  color: var(--mid-clr);
}

.footer {
    background-color: var(--dark-clr);
    color: var(--light-clr);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}